@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CPoiret+One%7CRaleway%7CUbuntu+Mono&display=swap');
.welcome {
    background-image: url(./pics/h_img.jpg);
    height: 1071px;
    width: 1920px;
}
h4 {
    color: white;
    text-align: center;
    
}
.well {
    color: white;
    text-align: center;
    
}
.services {
    background-image: url(./pics/s_image.jpg);
    height: 488px;
    width: 1920px;
    
}
.small-overlay {
    text-decoration-color: white;
}
p {
    text-align: center;
}
h5 {
    text-align: center;
}
.word {
    color: white;
    font-size: 3mm;
}
.contacts {
    background-image: url(./pics/c_image.jpg);
    height: 683px;
    width: 1920px;
}
